.header {
    text-align: center;
    background-color: aliceblue;
    height: 10em;
    width: auto;
    margin: 1em;
}

.header span {
    font-size:50px;
    position: relative;
    bottom: -0.5em;
}

.RectangleDiv {
    text-align: center;
    margin: 5rem;
}

.SquareDiv {
    text-align: center;
    margin: 5rem;
}

.CircleDiv {
    text-align: center;
    margin: 5rem;
}

.IsocelesDiv {
    text-align: center;
    margin: 5rem;
}

.drawContainer {
    display: flex;
}

.draw {
    background-color: blanchedalmond;
    height: 600px;
    width: 600px;
    margin-left: 10%;
    margin-bottom: 5%;
}

.addDraw {
    height: 600px;
    width: 600px;
    z-index: -1;
    overflow: auto;
}

.shapeInfo {
    margin-left: 3em;
    background-color: burlywood;
    margin-bottom: 5%;
};