.RectangleDiv {
    text-align: center;
    margin: 5rem;
}

.SquareDiv {
    text-align: center;
    margin: 5rem;
}

.CircleDiv {
    text-align: center;
    margin: 5rem;
}

.IsocelesDiv {
    text-align: center;
    margin: 5rem;
}