.header {
    text-align: center;
    background-color: aliceblue;
    height: 10em;
    width: auto;
    margin: 1em;
}

.header span {
    font-size:xx-large;
}

.RectangleDiv {
    text-align: center;
    margin: 5rem;
}

.SquareDiv {
    text-align: center;
    margin: 5rem;
}

.CircleDiv {
    text-align: center;
    margin: 5rem;
}

.IsocelesDiv {
    text-align: center;
    margin: 5rem;
}

.draw {
    background-color: blanchedalmond;
    height: 600px;
    width: 600px;
    margin-left: 30%;
    margin-bottom: 5%;
}

.shapeInfo {
    margin-left: 3em;
};